<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="android.uid.system"
    package="ucast.com.padupdate" >

    <!--android:sharedUserId="android.uid.system"-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.SET_TIME"/>

    <application
        android:allowBackup="true"
        android:name=".app.ExceptionApplication"
        android:icon="@mipmap/install2"
        android:label="@string/app_name"
        android:theme="@style/android:Theme.Holo.Light.DarkActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".androidTools.Second">

        </activity>

        <service
            android:name=".UpdateService"
            android:enabled="true"
            android:exported="true" >

        </service>

        <receiver android:name=".StartBrocast"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="65535">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".UpdateBroadCast"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="ucast.com.padupdate.TishiUpdate"/>
                <action android:name="com.example.zxc.blue.tcpConnect" />
            </intent-filter>

        </receiver>
    </application>

</manifest>
